@model LaxWebsiteProject.Models.ShowMovieModel
@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div style="height:100%; width:100%;">
        <div style="float:left; box-sizing: border-box; height: 40%; width: 40%; padding: 5px 0px;margin:5px 5%; border-width: 5px; border-style: solid;  background-color: lightyellow">
            <p class="text-center">Latest titles</p>
        </div>
        <div style="float:right; box-sizing: border-box; height: 40%; width: 40%; padding: 5px 0px;margin:5px 5%; border-width: 5px; border-style: solid;  background-color: lightyellow">
            <p class="text-center">Top categories</p>
        </div>
    </div>
    <form asp-controller="BrowseMovie" asp-action="Index" method="get" style="margin: 0 auto">
    </form>
    <div style="height:100%; width:100%;">

        <div style="overflow:hidden;float:left; box-sizing: border-box; height: 380px; width: 40%;margin:5px 5%; border-width: 5px; border-style: solid;  background-color: lightyellow">
            <!--
                <div style="float:left; height: 40px; width: 100%; border-width: 0px 0px 5px 0px; border-style: solid;  background-color: palevioletred">
                    <p>Id   Titles  Release date</p>
                </div>
            -->
            <table class="table">
                <thead style="height:30px; border-width: 2px 0 5px 0; border-style:solid;background-color:palevioletred">
                    <tr>
                        <th>
                            <p>@Html.DisplayNameFor(model => model.Movies[0].Title)</p>
                        </th>
                        <th>
                            <p>@Html.DisplayNameFor(model => model.Movies[0].Release_date)</p>
                        </th>
                        <th>
                            <p>Categories</p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Movies)
                    {
                        <tr style="border-bottom-width:2px; border-bottom-style:solid;">
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>   
                            <td>
                                @Html.DisplayFor(modelItem => item.Release_date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Categories_string)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div style="float:right; box-sizing: border-box; height: 380px; width: 40%;margin:5px 5%; border-width: 5px; border-style: solid;  background-color: lightyellow; overflow:hidden;">

            <table class="table">
                <thead style="height:30px; border-width: 2px 0 5px 0; border-style:solid;background-color:palevioletred">
                    <tr>
                        <th>
                            <p>Category</p>
                        </th>
                        <th>
                            <p>Count</p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Categories)
                    { 
                        <tr style="border-bottom-width:2px; border-bottom-style:solid;">
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Count)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <p style="clear:both; height:1px"></p>
</div>