@model LaxWebsiteProject.Models.ShowMovieModel
@{
    ViewData["Title"] = "Browse movies";
}
<div>
    <div class="text-center">
        <h1>Browse movies</h1>
        <p>Here you can browse our movie databse. Either by title or genre. Happy browsing!</p>

    </div>
    <div style="margin: 0 20%; align-items:center">
        <form asp-controller="BrowseMovie" asp-action="Index" method="get" style="margin: 0 auto">
            <p>
                
                 <select asp-for="MovieGenre" asp-items="Model.SelectCategories">
                     <option value="">All</option>
                 </select>
    
                Title: <input type="text" asp-for="SearchString" />
                <input type="submit" value="Filter" />
            </p>

        </form>
    </div>


    <div style="width:60%; height:40vh;margin: 10px auto; border:3px; border-style:solid;background-color:aliceblue; overflow-y:scroll;">
        <table class="table" style="clear:both;">
            <thead>
                <tr>
                    <th>
                        <p>@Html.DisplayNameFor(model => model.Movies[0].MovieTitle)</p>
                    </th>
                    <th>
                        <p>@Html.DisplayNameFor(model => model.Movies[0].MovieReleaseDate)</p>
                    </th>
                    <th>
                        <p>Categories</p>
                    </th>
                    <th>
                        <p>Director</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Movies)
                {
                    //for (int i = 0; i < item.MovieCategories.Count-1; i++)
                    //{
                    //    item.CategoryString += item.MovieCategories[i].FK_Category;
                    //    item.CategoryString += " ";
                    //}
                <tr style="border-bottom-width:2px; border-bottom-style:solid;">
                    <td>
                        @Html.DisplayFor(modelItem => item.MovieTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MovieReleaseDate)
                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.CategoriesString)
                    </td>
                    <td>

                        @Html.DisplayFor(modelItem => item.MovieDirector)
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>

</div>